.sc-player{
  width: 100%;
  height: 60px;
  position: relative; 
  }

.sc-player ol, .sc-player li{
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

/* Artworks */

.sc-player .sc-artwork-list{
  display: none;
}

.sc-player .sc-artwork-list li{
  list-style-type: none;
  display: none;
}

.sc-player .sc-artwork-list li.active{
  list-style-type: none;
  display: block;
}

.sc-player .sc-artwork-list li img, .sc-player .sc-artwork-list li div{
  list-style-type: none;
  width: 100%;
  height: 100%;
}

/* controls */

.sc-player .sc-controls{
display: table;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 8px;
  cursor: pointer;
}

.sc-player .sc-controls .sc-play {
  display: table-cell;
  vertical-align:  middle;
  }

.sc-player .sc-controls .sc-pause{
  display: none;
}

.sc-player.playing .sc-controls .sc-play{
  display: none;
}

.sc-player.playing .sc-controls .sc-pause{
  display: table-cell;
  vertical-align:  middle;
}

/* scrubber */

.sc-scrubber {
  position: absolute;
  left: -5000px;
  height: 40px;
  width: 100%;
  margin: 5px;
  padding: 5px;
}

.sc-player.playing .sc-scrubber {
  display: block;
  left: 35px;
  bottom: 10px;
}

.sc-scrubber .sc-time-span{
  height: 30px;
  margin: 5px;
  position: relative;
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played{
  height: 43px;
  position: absolute;
  top: 0;
  width: 0;
  -webkit-transition: width 0.1s linear;
}

.sc-scrubber .sc-time-indicators{
  position: absolute;
  right: 40px;
  top: 15px;
}

/* tracks */

/* Track listings*/

.sc-player ol.sc-trackslist{
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  left: 50px;
  overflow: auto;
  z-index: 100;
}

.sc-player ol.sc-trackslist li{
  float: left;
  text-align: left;
  width: 95.5%;
  margin: 5px;
  padding: 5px;
  list-style: none;
}

/* utilities */

.sc-player .hidden {
  display: none;
}

.sc-player-engine-container{
  width: 1px;
  height: 1px;
  position: fixed;
  top: 2px;
  left: 2px;
}
